/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET END */

/* ===== Custom Styles ===== */
body {
  font-family: 'Poiret One', cursive;
  font-size: calc(17px + (22 - 17) * ((100vw - 300px) / (1600 - 300)));
}
h1 {
  font-size: calc(30px + (70 - 30) * ((100vw - 300px) / (1600 - 300)));
  padding: 15px 0;
}
h2 {
  font-size: 1.2em;
  font-weight: 800;
  padding-bottom: 5px;
}
h3 {
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 5px;
}
p {
  padding-bottom: 15px;
}

/* ========= Header ======== */
#welcome-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#4edbb5, white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -180px;
  text-align: center;
}
#general-header {
  height: 30vh;
  width: 100%;
  background: linear-gradient(#4edbb5, white);
  margin-top: 40px;
}
#welcome-header {
  padding-bottom: 100px;
}

/* ======== Nav Bar ======== */
#navbar {
  display: flex;
  justify-content: space-between;
  background: #4edbb5;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 20px;
  padding: 10px;
}
#navbar h2 {
  margin-left: 30px;
}
#navbar li {
  display: inline;
  margin-right: 20px;
}

/* ========= Main ========== */
#imprint-content {
  margin-top: -110px;
  padding: 0 25px 70px 25px;
}

/* ======== Projects ======= */
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 50px 70px 200px 70px;
}
.heading {
  margin-top: -110px;
  padding: 0 20px;
}
.heading p {
  padding-left: 5px;
}
.project-tile {
  display: flex;
}
.project-tile img {
  width: 100%;
  border: 2px solid #4edbb5;
}
.project-tile:hover {
  opacity: .4;
}
/*
.project-tile p {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 4px);
  background-color: rgba(255, 255, 255, .5);
  opacity: 0;
}
.project-tile p:hover {
  opacity: 1;
}
*/
/* ======== Contact ======== */
#contact {
  width: 60%;
  margin: 60px auto;
  display: flex;
  align-items: center;
}
.contact-tile {
  text-align: center;
}
.contact-tile img {
  width: 50%;
  min-width: 35px;
}

#legal-links {
  display: flex;
  justify-content: center;
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 10px 0;
}
#legal-links p {
  margin: 0 5px;
}

/* ========= Links ========= */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #3baa8c;
}

/* ===== Media Queries ===== */
@media (max-width: 710px) {
  #projects {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 50px 15px 200px 15px;
  }
  #navbar li {
  margin: 0 5px 0 15px;
}
}

/*
@media (max-width:710px) {
  #projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .project-tile {
    margin-bottom: 40px;
  }
}
@media (min-width:711px, max-width:975px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .tile03 {
    grid-column: 1 / span 2;
    margin-top: 40px;
  }
}
*/