{% extends "base.html" %}

{% block content %}
	<div class="heading">
		<h1>webdesign projects</h1>
        <p>I started designing and coding websites in 2017. I love playing with colors and fonts to create a modern, unique look.</p>
    </div>
    
    <main id="projects">

      <div class="project-tile">
        <a href="https://kakao.jessicamalm.de/" target="_blank"><img src="/img/05 randomWords.png" alt="Random words generator"></a>
      </div>

      <div class="project-tile">
        <a href="https://codepen.io/joeososoi/full/MBepyW" target="_blank"><img src="/img/04 FCCProductLandingPage.png" alt="FCC Product Landing Page"></a>
      </div>

      <div class="project-tile">
        <a href="https://codepen.io/joeososoi/full/rrOxPZ" target="_blank"><img src="/img/03 FCCSurveyForm.png" alt="FCC Survey Form"></a>
      </div>

      <div class="project-tile">
        <a href="https://codepen.io/joeososoi/full/MBWoJv" target="_blank"><img src="/img/02 FCCTributePage.png" alt="FCC Tribute Page"></a>
      </div>
      
      <div class="project-tile">
        <a href="https://instajessjess.tumblr.com/" target="_blank"><img src="/img/01 InstaJessJess.png" alt="InstaJessJess Tumblr Theme"></a>
      </div>

    </main>
{% endblock content %}